<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="vue.js"></script>
</head>

<body>
    <div id="app">
        <p>{{retornaNome}}</p>
        <button @click="puxarPaises">Puxar Paises</button>
        <div>
            <select name="paises" id="paises" v-model="paisSelecionado">
                    <option v-for="{name, capital} in paises" :value="name">{{name}}</option>
            </select>
        </div>
        <p>{{capital.capital}}</p>
    </div>


    <script>

        const vm = new Vue({
            el: "#app",
            data: {
                nome: "Richelmy",
                sobrenome: "Lopes",
                paises: {},
                paisSelecionado: "",
                capital: "",
            },
            methods: {
                puxarPaises(){
                    fetch("https://restcountries.eu/rest/v2/all")
                    .then(r => r.json())
                    .then(body =>{
                        this.paises = body;
                    })
                }
            },
            computed: {
                retornaNome(){
                    return this.nome + " " + this.sobrenome;
                }
            },
            watch: {
                paisSelecionado(valor){
                    this.capital = this.paises.find((pais) => pais.name === valor);
                    return this.capital;
                }
            }
        });

    </script>




</body>

</html>